@import 'colores-globales';

body {
    background-image: url('../imagenes-expansion-game/fondo-expansion-punk.jpg'); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.container,
.main-content {
    background: none;
}
.accordion {
    max-width: 80%;
    margin: 0 auto;
    @media (max-width: 768px) {
    max-width: 100%;
    }
.accordion-item {
    background-color: map-get($colores-globales, color19);
    border-radius: 10px;
    box-shadow: 0px 0px 15px map-get($colores-globales, color1);
 /* Sombra neón */
.accordion-button {
    background-color: map-get($colores-globales, color2);
    color: map-get($colores-globales, color1);
    }
.accordion-body {
    background-color: map-get($colores-globales, color3);
    color: map-get($colores-globales, color1);
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px map-get($colores-globales, color1);
        a {
    color: map-get($colores-globales, color4);
    text-decoration: underline;
        &:hover {
    color: map-get($colores-globales, color5);
    }
        }
    @media (max-width: 768px) {
        font-size: 16px;
        }
    }
    }
}
h1 {
    font-size: 3rem;
    text-align: center;
    color: map-get($colores-globales, color1);
    text-shadow: 0 0 10px map-get($colores-globales, color1);
    @media (max-width: 768px) {
    font-size: 2rem;
    }
    @media (max-width: 480px) {
    font-size: 1.5rem;
    }
}