// Variables de colores!
$colores-globales: (
    color1: #03e9f5,
    color2: #00719e,
    color3: #121212,
    color4: #00ffff,
    color5: #ffffff,
    color6: #8a2be2,
    color7: #e4e4e4,
    color8: #0f0c29,
    color9: #302b63,
    color10: #24243e,
    color11: #a6f6f1,
    color12: #0b3d91,
    color13: #0d0d0d,
    color14: #03e9f4,
    color15: #00b3d1,
    color16: #03e9f44d,
    color17: #03e9f4b3,
    color18: #03e9f480,
);