@import 'colores-globales';

form {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 15px map-get($colores-globales, color14);
    width: 80%;
    max-width: 600px;
    text-align: center;
    border: 2px solid map-get($colores-globales, color14);
    margin: 0 auto;  // Para centrar el formulario
    transition: all 0.3s ease;
}

form:hover {
    box-shadow: 0 0 25px map-get($colores-globales, color14), 0 0 35px map-get($colores-globales, color14);
}

form input[type="text"], 
form input[type="email"], 
form input[type="number"], 
form select, 
form textarea {
    width: 100%;
    padding: 10px;
    background: map-get($colores-globales, color12);
    border: 2px solid map-get($colores-globales, color14);
    border-radius: 5px;
    color: map-get($colores-globales, color7);
    box-shadow: inset 0 0 5px map-get($colores-globales, color14);
    transition: all 0.3s ease;
    text-align: center; // Asegura de que los inputs también estén centrados
}

form input[type="submit"] {
    background-color: map-get($colores-globales, color14);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: map-get($colores-globales, color13);
    font-weight: bold;
    cursor: pointer;
    text-shadow: 0 0 10px map-get($colores-globales, color14);
    box-shadow: 0 0 15px map-get($colores-globales, color14);
    width: 100%;
}